# Organizando Dataframes

In [12]:
import pandas as pd

In [13]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
#cria uma lista com cada caracter
list('321')

['3', '2', '1']

## Index e Columns em Dataframes

In [15]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

### Organizando o index

In [16]:
# organiza o index e implementa a função dentro do Dataframe
df.sort_index(inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [17]:
# organiza o index, grava a função no df e organiza as colunas
# o parâmetro axis=1 que organiza as colunas
df.sort_index(inplace=True, axis=1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

### Escolhendo Parâmetro para Organizar
* função => sort_values()

In [18]:
# pega a coluna X como refeência para colocar em ordem
df.sort_values(by='X', inplace=True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [19]:
# organiza com base na linha 3
df.sort_values(by='3', axis=1, inplace=True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [20]:
# também é possível passar uma lista como parâmetro
# se a lista for para linhas, deve acompanhar o parâmetro axis=1
df.sort_values(by=['X', 'Y'])

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

## Exercícios

### 1. Considere o seguinte DataFrame nomeado como df:
Z=9,6,3  
Y=8,5,2  
X=7,4,1  
Colunas = C,B,A  
Após executar o seguinte conjunto de rotinas no Jupyter:  
df.sort_index()  
df.sort_index(axis = 1)  
df  
Qual o resultado obtido?

In [21]:
dados2 = [[9,6,3],[8,5,2],[7,4,1]]
de = pd.DataFrame(dados2, list('ZYX'), list('CBA'))
de.sort_index()
de.sort_index(axis = 1)
de

   C  B  A
Z  9  6  3
Y  8  5  2
X  7  4  1

### 2.

![](../dados/ex2.png)

In [22]:
df_A = pd.DataFrame([['Ary', 'M', 21], ['Cátia', 'F', 19],
                    ['Carlos', 'M', 50], ['Beto', 'M', 29],
                    ['Bruna', 'F', 31], ['Ana', 'F', 42]], columns=['Nome', 'Sexo', 'Idade'])
df_A

     Nome Sexo  Idade
0     Ary    M     21
1   Cátia    F     19
2  Carlos    M     50
3    Beto    M     29
4   Bruna    F     31
5     Ana    F     42

In [25]:
df_B = df_A.sort_values(by=['Sexo', 'Nome'])
df_B

     Nome Sexo  Idade
5     Ana    F     42
4   Bruna    F     31
1   Cátia    F     19
0     Ary    M     21
3    Beto    M     29
2  Carlos    M     50

### Observações
* se chamar primeiro a variável 'Nome' ele irá gerar outro resultado
* será organizado apenas os nomes por ordem alfabética e não será organizado o sexo
* deve-se tomar esse tipo de cuidado ao organizar um dataframe