# Usando os Diferentes Contadores

In [391]:
import pandas as pd

In [392]:
s = pd.Series(list('asdeasdeasdeasdea'))
s

0     a
1     s
2     d
3     e
4     a
5     s
6     d
7     e
8     a
9     s
10    d
11    e
12    a
13    s
14    d
15    e
16    a
dtype: object

## Verifica cada valor que aparece pelo menos uma vez

In [393]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

## Conta quantas vezes cada valor aparece

In [394]:
s.value_counts()

a    5
e    4
s    4
d    4
dtype: int64

## Usando os mesmos contadores para Dataframe

In [395]:
dados = pd.read_csv('../dados/aluguel_residencial.csv', sep=';')

In [396]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [397]:
dados.Tipo.value_counts()

Apartamento           19532
Casa de Condomínio      996
Casa                    967
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64

## Exercício

Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

In [398]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

Acima, temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA.

Para tirarmos nossas conclusões, precisamos montar o seguinte DataFrame:

![](../dados/exercicio3.JPG)

* obs: para carregar imagens e links no markdown não se usa áspas para passar o caminho

Onde Freq. C e Freq. c são, respectivamente, as frequências de COROAS e de CARAS em cada teste.

Qual o código necessário para realizar tal tarefa?

In [399]:
df = pd.DataFrame({'m1': list(m1),
                 'm2': list(m2),
                 'm3': list(m3),
                 'm4': list(m4),
                 'm5': list(m5)})

In [400]:
df = pd.DataFrame({'m1': dict(df.m1.value_counts()),
                              'm2': dict(df.m2.value_counts()), 
                                          'm3': dict(df.m3.value_counts()), 
                                                     'm4': dict(df.m4.value_counts()), 
                                                                'm5': dict(df.m5.value_counts())})
df

   m1  m2  m3  m4  m5
c  25  26  19  23  25
C  25  24  31  27  25

In [401]:
df['Faces'] = ['Cara', 'Coroa']

In [402]:
df.sort_index(axis=1, inplace=True)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

In [403]:
df.sort_index(inplace=True)
df

   Faces  m1  m2  m3  m4  m5
C  Coroa  25  24  31  27  25
c   Cara  25  26  19  23  25

## Resolução proposta

In [404]:
eventos = pd.DataFrame({'m1': list(m1),
                 'm2': list(m2),
                 'm3': list(m3),
                 'm4': list(m4),
                 'm5': list(m5)})

In [405]:
moedas = pd.DataFrame(eventos)

In [406]:
# para concatenar dataframes é necessário passar uma lista deles
# de mesmo tamanho e index
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

### Passo a passo

In [407]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
df

   Faces
c   Cara
C  Coroa

### Concatenando lado a lado

In [408]:
for i in moedas:
    df = pd.concat([df, moedas[i].value_counts()], axis=1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

### Utilizando outro index como exemplo

In [409]:
n1 = 'AAAAAAAAAAAAAAaaaaaaaaaaaaaaaaa'
n2 = 'AAAAAAAAAAAAaaaaaaaaaaaaaaaaAAa'
n3 = 'aaaaaaaaaaaaAAAAaaaaAAAAaaaaaaa'

In [410]:
events = pd.DataFrame({'n1': list(n1),
                       'n2': list(n2),
                       'n3': list(n3)})

In [411]:
df2 = pd.DataFrame(data = ['Maiúsc', 'Minúsc'], index = ['A', 'a'], columns = ['Letra'])
df2

    Letra
A  Maiúsc
a  Minúsc

In [412]:
for lista in events:
    df2 = pd.concat([df2, events[lista].value_counts()], axis=1)
df2

    Letra  n1  n2  n3
A  Maiúsc  14  14   8
a  Minúsc  17  17  23

* não importa a ordem que colocarmos o index
* o pandas relacionará automaticamente o index com o dicionário passado
* repare o exemplo abaixo:

In [413]:
events.n1.value_counts()

a    17
A    14
Name: n1, dtype: int64

### Repare agora como ficaria o dataframe se invertêssemos a oredem do index

In [414]:
df3 = pd.DataFrame(data = ['Minúsc', 'Maiúsc'], index = ['a', 'A'], columns = ['Letra'])
df3

    Letra
a  Minúsc
A  Maiúsc

In [415]:
for item in events:
    df3 = pd.concat([df3, events[item].value_counts()], axis=1)
df3

    Letra  n1  n2  n3
a  Minúsc  17  17  23
A  Maiúsc  14  14   8

In [416]:
df2

    Letra  n1  n2  n3
A  Maiúsc  14  14   8
a  Minúsc  17  17  23

### Podemos também reorganizar o index a qualquer momento

In [420]:
# lembrando que para fixar o método, deve-se utilizar o inplace=True
# no python a letra maiúscula sempre vem primeiro na ordem alfabética
df3.sort_index()

    Letra  n1  n2  n3
A  Maiúsc  14  14   8
a  Minúsc  17  17  23

In [419]:
df3

    Letra  n1  n2  n3
a  Minúsc  17  17  23
A  Maiúsc  14  14   8

In [423]:
df2

    Letra  n1  n2  n3
A  Maiúsc  14  14   8
a  Minúsc  17  17  23

In [424]:
# df2 já esta na ordem crescente, portanto o método não tem efeito
df2.sort_index()

    Letra  n1  n2  n3
A  Maiúsc  14  14   8
a  Minúsc  17  17  23

In [422]:
# para trocar a ordem de crescente para decrescente usa-se ascending=False
df2.sort_index(ascending=False)

    Letra  n1  n2  n3
a  Minúsc  17  17  23
A  Maiúsc  14  14   8